{% extends 'base.html' %}

{% block title %}SIMPLE TEST{% endblock %}

{% block css %}
<!-- Bootstrap theme -->
<link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">

    <div class="jumbotron">
        <h1>SIMPLE TEST</h1>
        <a type="button" class="btn btn-link" href="{{ url_for('main.sign') }}">CLICK TO INPUT</a>
    </div>

    {% for data in datas %}
    <div class="page-header">
        <h1>{{ data.name }}</h1>
    </div>
    <div class="well">
        <p>{{ data.email }}</p>
    </div>
    <div class="well">
        <p>{{ data.number }}</p>
    </div>
    {% endfor %}

</div> <!-- /container -->
{% endblock %}